.button {
    width: 100%;
    padding: 10px 5px;
    border-radius: 10px;
    background-color: #549300;
    border: 0;
    font-weight: 700;
    color: white;
    text-decoration: uppercase;
}

.button:hover {
    background: #417400;
}